<a href="https://colab.research.google.com/github/Basimrana/avado/blob/main/Pythonnotebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ***Introduction to Python***

In [ ]:
8**2

64

In [ ]:
16/4

4.0

**Introduction to Colab**

In [ ]:
print ("fast bootcamp")

fast bootcamp

In [ ]:
8+90

98

# Data Types

In [ ]:
type(2)

int

In [ ]:
type(2.0)

float

In [ ]:
type(True)

bool

In [ ]:
type({1,2,3})

set

In [ ]:
type([1,2,3])

list

In [ ]:
type((1,2,3))

tuple

In [ ]:
"hello world!"

'hello world!'

In [ ]:
type("nizam hoe")

str

**String**

In [ ]:
print ("hello this is basim and i am learning how to use python")

hello this is basim and i am learning how to use python

In [ ]:
countryname="United kingdom"
name="Mercy"
print(countryname)
print(name)

United kingdom
Mercy

In [ ]:
country="Pakistan"
name="Basim"
age="24"
profession="Student"
dog="Poodle"
console="Ps5"
print(country)
print(name)
print(age)
print(profession)
print(dog)
print(console)

Pakistan
Basim
24
Student
Poodle
Ps5

In [ ]:
#len
len(country)

8

In [ ]:
#len
print(len(country))
print(len(name))

8
5

In [ ]:
number=40
type(number)

int

In [ ]:
str(number)

'40'

In [ ]:
myfloat=15.0

In [ ]:
float(number)

40.0

In [ ]:
int(myfloat)

15

*Special Characters: String*

In [ ]:
print("my name is \"Basu\"")

my name is "Basu"

In [ ]:
print("my final CGPA is \"3.45\"")

my final CGPA is "3.45"

In [ ]:
print("Basi'm")

Basi'm

In [ ]:
print("My p \profession is Doctor")

My p \profession is Doctor

In [ ]:
print("My name is Logan \nI like Python")

My name is Logan
I like Python

In [ ]:
print("n new b back t tab c carraige")

n new b back t tab c carraige

# Index and Slicing

In [ ]:
name="Hello"
name[0:4]

'Hell'

In [ ]:
name="Hello"
name[0::3]

'Hl'

In [ ]:
name[1::3]

'eo'

In [ ]:
name[0:2]

'He'

In [ ]:
code = "123478"
code[::-1]

'874321'

In [ ]:
code[::-2]

'842'

In [ ]:
a="Python"
b="version 3"

In [ ]:
print(a+" "+b)

Python version 3

In [ ]:
string=("Write this 10 times\n")*10
print(string)

Write this 10 times
Write this 10 times
Write this 10 times
Write this 10 times
Write this 10 times
Write this 10 times
Write this 10 times
Write this 10 times
Write this 10 times
Write this 10 times

In [ ]:
name1="Hellp"
name1[4]='o'

TypeError: ignored

In [ ]:
name2="Hello"

In [ ]:
name2.lower()

'hello'

In [ ]:
name2.count("l")

2

In [ ]:
radius=5
pi=3.142
circum=2*pi*radius
area=pi*radius**2
print(area)
print(circum)

78.55
31.419999999999998

In [ ]:
height=6
weight=80
age=24
BMI=weight/height**2
print(BMI)

2.2222222222222223

In [ ]:
name1.replace("p","o").replace("l","s")

'Hesso'

# Formatting

In [ ]:
i="I am {}"
age =40
i.format(age)

'I am 40'

In [ ]:
i="My Salary will be {}"
pay=4000
i.format(pay)

'My Salary will be 4000'

In [ ]:
pay="Salary"
wages=5000
string4="My {} will be {} next May"
string4.format(pay,wages)

'My Salary will be 5000 next May'

In [ ]:
#%a.%s,%f,%d
print("my %s will be %d next April"%("pay",5000))

my pay will be 5000 next April

## Python Operations

In [ ]:
PEDMAS OR BODMAS

SyntaxError: ignored

In [ ]:
67/1.5

44.666666666666664

In [ ]:
5%2

1

In [ ]:
6%3

0

In [ ]:
7%3

1

In [ ]:
2**8

256

In [ ]:
6**6

46656

In [ ]:
6*6*6

216

In [ ]:
6+2

8

In [ ]:
6-2

4

In [ ]:
4/2

2.0

In [ ]:
5%2

1

In [ ]:
20%8

4

In [ ]:
8%3

2

In [ ]:
#PEDMAS
#BODMAS
(5+3*6.6/12)**2

44.22249999999999

## BOOLEN

In [ ]:
5==7

False

In [ ]:
5!=7

True

In [ ]:
5>7

False

In [ ]:
5<7

True

In [ ]:
a=5
b=2
c=7
a > b and a > c

False

In [ ]:
a > b and a < c

True

In [ ]:
#2*8=16; still need +4 to equal 20, so 4 is the modulus

In [ ]:
#syntax=rows

In [ ]:
pi=3.14
r=14
area=2*pi*r
print(area)

87.92

In [ ]:
round (area)

88

In [ ]:
len=14
base=7
height=17
volume=len*base*height
print(volume)

1666

In [ ]:
#https://colab.research.google.com/notebooks/basic_features_overview.ipynb

In [ ]:
#https://docs.python.org/3/
#https://docs.python.org/3/library/index.html

## Fundamentals of Python

In [ ]:
x=10
if x%2==0:
  print("this is an even number!!")

this is an even number!!

In [ ]:
x=7
if x%2==0:
  print("this is an even number!!")
else:
    print("this is an odd number!!")

this is an odd number!!

In [ ]:
a=15
b=12

if a==b:
  print("the two numbers are equal")
elif a > b:
  print("first number is greater")
else:
  print("second number is greater")

first number is greater

In [ ]:
a=7
b=8

if a==b:
  print("the numbers are equal")
elif a--b:
  print("the number is negative")
else:
  print("the number is postitive")

the number is negative

In [ ]:
a=-100

if a==0:
  print("Number is zero")
elif a<0:
  print('Number is negative')
else:
  print("Number is positive")

Number is negative

In [ ]:
a=70

if a==0:
  print("Number is zero")
elif a<0:
  print('Number is negative')
else:
  print("Number is positive")

Number is positive

In [ ]:
a=(10-10)

if a==0:
  print("Number is zero")
elif a<0:
  print('Number is negative')
else:
  print("Number is positive")

Number is zero

# For Loops

In [ ]:
for i in range(0,6):
  print("The iteration number is {}".format(i))

The iteration number is 0
The iteration number is 1
The iteration number is 2
The iteration number is 3
The iteration number is 4
The iteration number is 5

In [ ]:
for i in range(1,10):
  print("12x{}=".format(i),i*12)

12x1= 12
12x2= 24
12x3= 36
12x4= 48
12x5= 60
12x6= 72
12x7= 84
12x8= 96
12x9= 108

In [ ]:
target_val = 5
iter_var = 0
while iter_var < target_val:
  print("Iteration number is {} which is less than target value {}".format(iter_var, target_val))
  iter_var = iter_var+1
abc=50
print(abc)

Iteration number is 0 which is less than target value 5
Iteration number is 1 which is less than target value 5
Iteration number is 2 which is less than target value 5
Iteration number is 3 which is less than target value 5
Iteration number is 4 which is less than target value 5
50

In [ ]:
#while runs till condition is true and for iterates each value basically repeat

In [ ]:
#will read next statement until the while is complete

# Indentation

In [ ]:
number = 10

if number==10:
  print("This is correct indentation")
  a=10
  print(a)

This is correct indentation
10

In [ ]:
# = for assignment
# == for comparison of var

### Nested-for loops

In [ ]:
for i in [1,2,3,4,5]:
  for j in [1,2,3,4,5,6,7,8,9,10]:
    print(i*j, end=" ")
    print()

1
2
3
4
5
6
7
8
9
10
2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30
4
8
12
16
20
24
28
32
36
40
5
10
15
20
25
30
35
40
45
50

In [ ]:
for i in range (1,5):
  for j in range (1,11):
    print (i*j, end=" ")
  print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40

In [ ]:
#if condition met break while loop

In [ ]:
target_val = 5
iter_var = 0
while iter_var < target_val:
    print("Iteration number is {} which is less than target value {}".format(iter_var, target_val))
    if iter_var ==2:
        print("Condition Met! Breaking out of the loop")
        break
    iter_var = iter_var+1

Iteration number is 0 which is less than target value 5
Iteration number is 1 which is less than target value 5
Iteration number is 2 which is less than target value 5
Condition Met! Breaking out of the loop

In [ ]:
target_val = 5
iter_var = 0
while iter_var < target_val:
    iter_var = iter_var+1
    if iter_var ==2:
        continue
    print("Iteration number is {} which is less than target value {}".format(iter_var, target_val))

Iteration number is 1 which is less than target value 5
Iteration number is 3 which is less than target value 5
Iteration number is 4 which is less than target value 5
Iteration number is 5 which is less than target value 5

## Lists

In [ ]:
i= ["Mike", "Sean", "Adam", 12, 12.6, True]
i

['Mike', 'Sean', 'Adam', 12, 12.6, True]

In [ ]:
i[0]

'Mike'

In [ ]:
i[-1]

True

In [ ]:
i[-3]

12

In [ ]:
i2=["Mike", 5000, True]
i2

['Mike', 5000, True]

In [ ]:
i.2[1]="Ali"
print(i.2)

['Mike', 'Sarah', 'Nick']

In [ ]:
i[1:3]= ["Sarah", "Nick"]
i

['Mike', 'Sarah', 'Nick']

In [ ]:
len(i)

3

In [ ]:
type(i)

list

In [ ]:
i=["Mike", "Sean", "Adam", "Ali", "Rachel"]

if "Ali" in i:
  print("Found the name")

Found the name

In [ ]:
i=["Mike", "Sean", "Adam", "Ali", "Rachel"]

if "2" in i:
  print("Found the name")
else:
  print("Name not found")

Name not found

In [ ]:
i=["Mike", "Sean", "Adam", "Ali", "Rachel"]

if "2" not in i:
  print("False")

False

In [ ]:
i.insert(1, "Bob")
i

['Mike', 'Bob', 'Ali', 'Ali', 'Sean', 'Adam', 'Ali', 'Rachel']

In [ ]:
i=["Mike", "Sean", "Adam", "Ali", "Rachel"]
i.append("Basim")
i

['Mike', 'Sean', 'Adam', 'Ali', 'Rachel', 'Basim']

In [ ]:
#append
#clear
#copy
#count
#extend
#index
#insert
#pop
#remove
#reverse
#sort

In [ ]:
i2=["Lion", "Tiger"]
i.extend(i2)
i

['Mike', 'Sean', 'Adam', 'Ali', 'Rachel', 'Basim', 'Lion', 'Tiger']

In [ ]:
i.remove("Ali")
i

['Mike', 'Sean', 'Adam', 'Rachel', 'Basim', 'Lion', 'Tiger']

In [ ]:
i= ['Mike', 'Sean', 'Adam', 'Ali', 'Rachel', 'Basim', 'Lion', 'Tiger']
i.sort()
i

['Adam', 'Ali', 'Basim', 'Lion', 'Mike', 'Rachel', 'Sean', 'Tiger']

In [ ]:
numlist=[100,23,90,2000]
numlist.sort(reverse= True)
numlist

[2000, 100, 90, 23]

In [ ]:
numlist=[100,23,90,2000]
numlist.sort()
numlist

[23, 90, 100, 2000]

In [ ]:
list["Lion","Tiger"]
list2=["Basim", "Ali"]
list3 = list+ list2
list3

TypeError: ignored

In [ ]:
#gethelp from python
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [ ]:
item= input("Enter name:")

Enter name:Bravo

In [ ]:
mylist = ["Mike", "Dean", "Adam", "Ali"]

if item in mylist:
  print("Name already exist")
else:
  mylist.append(item)
  print("input added in list, updated list is:")
  print(mylist)

input added in list, updated list is:
['Mike', 'Dean', 'Adam', 'Ali', 'Bravo']

# List-Looping

In [ ]:
mylist = ["Mike", "Sean", "Ali", "Travis", "Scott"]
for element in mylist:
  print(element)

Mike
Sean
Ali
Travis
Scott

In [ ]:
mylist = ["Mike", "Sean", "Ali", "Travis", "Scott"]
for element in range(len(mylist)):
  print(element, mylist[element])

0 Mike
1 Sean
2 Ali
3 Travis
4 Scott

In [ ]:
#accessing items thru indexes which is why there is numbers before names

## List comprehension

In [ ]:
mylist = [1000, 20, 20120, 50, 95, 1021]
newnumlst_conventional = []
newnumlist_comprehension = []

newnumlst_comprehension = [i for i in numlist if i<100]
print(newnumlst_conventional)
print(newnumlst_comprehension)

[]
[23, 90]

In [ ]:
#Intention is to make a new list where each element is <100
#Define empty lists for each method
#Conventional Method
for i in mylist:
  if i<100:
    newlist_conventional.append(i)
#List Comprehension

In [ ]:
numlist = [1000, 20, 20120, 50, 95, 1021]

newnumlst_conventional = []
newnumlst_comprehension = []



# conventional method
for i in numlist:
    if i < 100:
        newnumlst_conventional.append(i)

# List comprehension
newnumlst_comprehension = [i for i in numlist if i<100]

print(newnumlst_conventional)
print(newnumlst_comprehension)

[20, 50, 95]
[20, 50, 95]

In [ ]:
mylist= ["Mike", "Dean", "Adam", "Ali"]

newlst = []

newlst = [i for i in mylist if "A" in i]
newlst

['Adam', 'Ali']

In [ ]:
#newlst = condition or no condition practice

In [ ]:
mylist= ["Mike", "Dean", "Adam", "Ali"]
newlst = [i.upper() for i in mylist]
newlst

['MIKE', 'DEAN', 'ADAM', 'ALI']

In [ ]:
newlst= [i**2 for i in range(10)]
newlst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
newlst = [i for i in range(10) if i >= 5]
print(newlst)

[5, 6, 7, 8, 9]

In [ ]:
word= "Python"

mystring = [ letter.upper() for letter in word]
print(mystring)

['P', 'Y', 'T', 'H', 'O', 'N']

In [ ]:
word= "Manchester"

mystring= [letter.upper() for letter in word]
print(mystring)

['M', 'A', 'N', 'C', 'H', 'E', 'S', 'T', 'E', 'R']

In [ ]:
word="python"
list(word.upper())

['P', 'Y', 'T', 'H', 'O', 'N']

## Nested Lists

In [ ]:
mylst= [1,2, ["a", 34], 3]
mylst

[1, 2, ['a', 34], 3]

In [ ]:
sublst = mylst[2]
sublst

['a', 34]

In [ ]:
mylst[2][1]

34

In [ ]:
matrix = [[0, 1, 2],
[3, 4, 5],
[6, 7, 8],
[9, 10, 11]]

rows = len(matrix)
cols = len(matrix[0])

for i in range(0, rows):
  print(matrix[i])

[0, 1, 2]
[3, 4, 5]
[6, 7, 8]
[9, 10, 11]

In [ ]:
print("element on row 2 and column 1: ", matrix[1][0])
print("element on row 3 and column 2: ", matrix[2][1])

element on row 2 and column 1:  3
element on row 3 and column 2:  7

In [ ]:
mylist = [[1,2,3,4],[5,6,7],['a','b','c'],['d','e']]
newlist = []
for x in range(len(mylist)):
  for y in range (len(mylist[x])):
    newlist.append(mylist[x][y])
print(newlist)

[1, 2, 3, 4, 5, 6, 7, 'a', 'b', 'c', 'd', 'e']

## Dictionaries

In [ ]:
mydict = {
"employee" : "Zara",
"department" : "Operations",
"last salary" : 50000
}
print(mydict)

{'employee': 'Zara', 'department': 'Operations', 'last salary': 50000}

In [ ]:
mydict = {
"employee" : "Zara",
"department" : "Operations",
"last salary" : 50000
}
print(mydict["department"])

Operations

In [ ]:
mydict = {
"employee" : "Zara",
"department" : "Operations",
"last salary" : 50000
}
mydict["department"] = "Sales"
print(mydict)

{'employee': 'Zara', 'department': 'Sales', 'last salary': 50000}

In [ ]:
len(mydict)

3

In [ ]:
type(mydict)

dict

## Nested Dictionaries

In [ ]:
mydict= {
1: {"employee" : "Zara","department" : "Operations","last salary" :
50000},
2: {"employee" : "Arjun","department" : "Sales","last salary" :
70000}
}
mydict

{1: {'employee': 'Zara', 'department': 'Operations', 'last salary': 50000},
 2: {'employee': 'Arjun', 'department': 'Sales', 'last salary': 70000}}

In [ ]:
mydict[1]["department"]

'Operations'

In [ ]:
mydict = {
"employee" : "Zara",
"department" : "Operations",
"last salary" : 50000
}
mydictkeys = mydict.keys()
print(mydictkeys)

dict_keys(['employee', 'department', 'last salary'])

In [ ]:
mydict = {
"employee" : "Zara",
"department" : "Operations",
"last salary" : 50000
}
mydictvals = mydict.values()
print(mydictvals)

dict_values(['Zara', 'Operations', 50000])

In [ ]:
mydict = {
"employee" : "Zara",
"department" : "Operations",
"last salary" : 50000
}
mydictvals = mydict.items()
print(mydictvals)

dict_items([('employee', 'Zara'), ('department', 'Operations'), ('last salary', 50000)])

In [ ]:
type(list(key))

NameError: ignored

In [ ]:
mydict = {
"employee" : "Zara",
"department" : "Operations",
"last salary" : 50000
}
if "department" in mydict:
  print("Yes key value = department is present in this dict")

Yes key value = department is present in this dict

In [ ]:
mydict = {
"employee" : "Zara",
"department" : "Operations",
"last salary" : 50000
}
mydict.update({"last salary" : 80000}) #Update a key value
mydict.update({"status" : "permanent", "level" : 3}) #Add new key:values
print(mydict)

{'employee': 'Zara', 'department': 'Operations', 'last salary': 80000, 'status': 'permanent', 'level': 3}

In [ ]:
mydict = {
"employee" : "Zara",
"department" : "Operations",
"last salary" : 50000,
"status" : "permanent",
"level" : 3
}
mydict.pop("level")
print(mydict)

{'employee': 'Zara', 'department': 'Operations', 'last salary': 50000, 'status': 'permanent'}

In [ ]:
(a)
mydict = {
"employee" : "Zara",
"department" : "Operations",
"last salary" : 50000,
"status" : "permanent",
"level" : 3
}
del mydict["level"]
mydict

{'employee': 'Zara',
 'department': 'Operations',
 'last salary': 50000,
 'status': 'permanent'}

In [ ]:
(b)
mydict = {
"employee" : "Zara",
"department" : "Operations",
"last salary" : 50000,
"status" : "permanent",
"level" : 3
}
del mydict
mydict

NameError: ignored

In [ ]:
mydict = {
"employee" : "Zara",
"department" : "Operations",
"last salary" : 50000,
"status" : "permanent",
"level" : 3
}
mydict.clear()
print(mydict)

{}

In [ ]:
mydict = {
"employee" : "Zara",
"department" : "Operations",
"last salary" : 50000,
"status" : "permanent",
"level" : 3
}
for item in mydict.values():
  print(item)

Zara
Operations
50000
permanent
3

In [ ]:
mydict = {
"employee" : "Zara",
"department" : "Operations",
"last salary" : 50000,
"status" : "permanent",
"level" : 3
}
for keys,values in mydict.items():
  print(keys,values)

employee Zara
department Operations
last salary 50000
status permanent
level 3

In [ ]:
for keys,values in mydict.items():
  print(keys,values)
delete= "employee"
mydict.pop(delete)
print("Updated Dict is:")
for keys,values in mydict.items():
  print(keys, values)

employee Zara
department Operations
last salary 50000
status permanent
level 3
Updated Dict is:
department Operations
last salary 50000
status permanent
level 3

In [ ]:
for keys,values in mydict.items():
  print(keys,values)
delete= "last salary"
mydict.pop(delete)
print("Updated Dict is:")
for keys,values in mydict.items():
  print(keys, values)

department Operations
last salary 50000
status permanent
level 3
Updated Dict is:
department Operations
status permanent
level 3

In [ ]:
for keys,values in mydict.items():
  print(keys,values)
mydict.update=({last salary":100000})
for keys,values in mydict.items():
  print(keys, values)

SyntaxError: ignored

## Tuples

In [ ]:
mytuple= ("Audi", "Ford", "Tesla", "Lion")
mylist = list(mytuple)
mylist [2] = "Tiger"
mytuple = tuple(mylist)
print(mytuple)

In [ ]:
mytuple= ("Audi", "Ford", "Tesla", "Audi", 50000, True)
print(mytuple[3]) #Indexing
print(mytuple[-1]) #negative indexing
print(mytuple[0:3]) #slicing

Audi
True
('Audi', 'Ford', 'Tesla')

In [ ]:
mytuple= ("Audi", "Ford", "Tesla", "Audi")
mylist = list(mytuple) #Using list constructor, convert tuples to list
mylist [1] = "Toyota" #Make the change you want
mytuple= tuple(mylist) #Convert list back to tuple using tuple
print(mytuple)

('Audi', 'Toyota', 'Tesla', 'Audi')

In [ ]:
mytuple= ("Audi", "Ford", "Tesla")
print(mytuple.index("Tesla"))

2

In [ ]:
mytuple= ("Audi", "Ford", "Audi", "Tesla", "Audi")
print(mytuple.count("Audi"))

3

In [ ]:
mytuple= ("Audi", "Ford", "Tesla")
for item in range(len(mytuple)):
  print(mytuple[item])

Audi
Ford
Tesla

In [ ]:
mytuple= ("Audi", "Ford", "Tesla") #Packing
car1,car2,car3 = mytuple #unpacking
print(car1)
print(car2)
print(car3)

Audi
Ford
Tesla

## SETS

## Library and Funcations